In [1]:
import pandas as pd
import requests
import json
from pprint import pprint
from config import openWeatherKey

In [2]:
weatherDisasterSECSV = "output_data/coordLocations.csv"
wDisasterSE_df = pd.read_csv(weatherDisasterSECSV)
wDisasterSE_df
test_df = wDisasterSE_df.loc[wDisasterSE_df["Lat"]<0,:]
test_df["Location"].unique()
# test_df

array(['Kentucky', ' Crawford', ' Colorado', ' Kentucky', ' Armstrong',
       ' Broome', ' Lauderdale', 'St Clair', ' Robertson', ' Lucas',
       'Colorado', 'Nelson', ' Dixie', ' Angelina', ' Comal', ' Sabine',
       ' Iberia'], dtype=object)

In [3]:
wDisasterSE_df[wDisasterSE_df["Location"].str.match(".*colorado.*", case=False)]

      Unnamed: 0   Location         Dis No    Lat   Long
65           117   Colorado  2000-0465-USA -22.84 -51.97
164          282   Colorado  2001-0451-USA -22.84 -51.97
974         1540   Colorado  2007-0383-USA -22.84 -51.97
981         1549   Colorado  2007-0662-USA -22.84 -51.97
1038        1642   Colorado  2007-0621-USA -22.84 -51.97
1153        1806   Colorado  2008-0600-USA -22.84 -51.97
1243        1922   Colorado  2010-0690-USA -22.84 -51.97
1320        2023   Colorado  2011-0029-USA -22.84 -51.97
1388        2106   Colorado  2011-0527-USA -22.84 -51.97
1423        2143   Colorado  2011-0608-USA -22.84 -51.97
1483        2205   Colorado  2011-0609-USA -22.84 -51.97
1564        2293   Colorado  2012-9489-USA -22.84 -51.97
1575        2308   Colorado  2012-0613-USA -22.84 -51.97
1670        2438   Colorado  2013-0334-USA -22.84 -51.97
1681        2455   Colorado  2013-0142-USA -22.84 -51.97
1719        2494   Colorado  2013-0183-USA -22.84 -51.97
1762        2542   Colorado  2013-0118-USA -22.84 -51.97
1842        2624   Colorado  2013-0013-USA -22.84 -51.97
1848        2631   Colorado  2013-0184-USA -22.84 -51.97
1947        2734   Colorado  2013-0117-USA -22.84 -51.97
1994        2799   Colorado  2014-0126-USA -22.84 -51.97
2047        2853   Colorado  2014-0048-USA -22.84 -51.97
2097        2907   Colorado  2014-0100-USA -22.84 -51.97
2142        2960   Colorado  2014-0263-USA -22.84 -51.97
2243        3080   Colorado  2015-0211-USA -22.84 -51.97
2258        3100   Colorado  2015-0245-USA -22.84 -51.97
2346        3212   Colorado  2015-0212-USA -22.84 -51.97
2353        3224   Colorado  2015-0177-USA -22.84 -51.97
2457        3369   Colorado  2016-0150-USA -22.84 -51.97
2490        3412   Colorado  2016-0181-USA -22.84 -51.97
2544        3490   Colorado  2017-0039-USA -22.84 -51.97
2563        3519   Colorado  2017-0234-USA -22.84 -51.97
2614        3612   Colorado  2017-0362-USA -22.84 -51.97
2671        3686   Colorado  2017-0203-USA -22.84 -51.97
2734        3844   Colorado  2018-0419-USA -22.84 -51.97
2758        3884   Colorado  2018-0046-USA -22.84 -51.97
2814        3963   Colorado  2019-0007-USA -22.84 -51.97

In [4]:
wDisasterSE_df.loc[wDisasterSE_df["Location"] == "Kentucky",:]

   Unnamed: 0  Location         Dis No    Lat    Long
0           0  Kentucky  2000-0080-USA -30.77  151.45

In [11]:
# Kentucky
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*kentucky.*", case=False),"Lat"] = 34.61
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*kentucky.*", case=False),"Long"] = -92.66
# Colorado
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*colorado.*", case=False),"Lat"] = 39.00
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*colorado.*", case=False),"Long"] = -105.50
# Crawford
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*crawford", case=False),"Lat"] = 37.51
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*crawford", case=False),"Long"] = -94.85
#Armstrong
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*armstrong.*", case=False),"Lat"] = 46.76
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*armstrong.*", case=False),"Long"] = -117.23
#broome
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*broome.*", case=False),"Lat"] = 42.25
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*broome.*", case=False),"Long"] = -75.83
#lauderdale
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*lauderdale.*", case=False),"Lat"] = 34.9
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*lauderdale.*", case=False),"Long"] = -87.63
#St Clair
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*St Clair.*", case=False),"Lat"] = 43.12
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*St Clair.*", case=False),"Long"] = -82.65
#Robertson
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Robertson.*", case=False),"Lat"] = 36.52
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Robertson.*", case=False),"Long"] = -86.87
#Lucas
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Lucas.*", case=False),"Lat"] = 41.65
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Lucas.*", case=False),"Long"] = -83.67
#Nelson
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Nelson.*", case=False),"Lat"] = 37.81
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Nelson.*", case=False),"Long"] = -85.47
#Dixie
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Dixie.*", case=False),"Lat"] = 29.62
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Dixie.*", case=False),"Long"] = -83.17
#Angelina
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Angelina.*", case=False),"Lat"] = 31.25
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match("Angelina", case=False),"Long"] = -94.57
#Comal
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Comal.*", case=False),"Lat"] = 29.82
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Comal.*", case=False),"Long"] = -98.3
#Sabine
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Sabine.*", case=False),"Lat"] = 37.68
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Sabine.*", case=False),"Long"] = -81.50
#Iberia
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Iberia.*", case=False),"Lat"] = 29.95
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Iberia.*", case=False),"Long"] = -91.75



wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Armstrong.*", case=False),:]

     Unnamed: 0   Location         Dis No    Lat    Long
210         365  Armstrong  2002-0310-USA  46.76 -117.23

In [12]:
wDisasterSE_df.loc[wDisasterSE_df["Lat"]<0,:]

Empty DataFrame
Columns: [Unnamed: 0, Location, Dis No, Lat, Long]
Index: []

In [13]:
minusLong_df = wDisasterSE_df.loc[wDisasterSE_df["Long"]>0,:]
minusLong_df["Location"].unique()

array(['Lake', 'Montana', 'Montgomery', 'Athens', 'Abbeville', 'Owen',
       'Jones', 'Martin', 'Santa Rosa', 'Solano', 'San Mateo', 'Placer',
       'Kent', 'Carthage', 'Salem', 'LaSalle', 'Bee', 'Beauregard',
       'Beaufort', 'Real', 'Pella'], dtype=object)

In [57]:
wDisasterSE_df.loc[wDisasterSE_df["Location"] == "Pella",:]

      Unnamed: 0 Location         Dis No    Lat   Long
2757        3882    Pella  2018-0279-USA  59.78  30.82

In [63]:
#Montana
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Montana.*", case=False),"Lat"] = 47.00
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Montana.*", case=False),"Long"] = -109.75
# Montgomery
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Montgomery.*", case=False),"Lat"] = 39.15
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Montgomery.*", case=False),"Long"] = -177.2
# Athens
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Athens.*", case=False),"Lat"] = 33.96
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Athens.*", case=False),"Long"] = -83.38
# Abbeville
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Abbeville.*", case=False),"Lat"] = 29.97
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Abbeville.*", case=False),"Long"] = -92.13
# Owen
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match("Owen", case=False),"Lat"] = 44.95
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match("Owen", case=False),"Long"] = -90.56
# Jones
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match("Jones", case=False),"Lat"] = 42.12
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match("Jones", case=False),"Long"] = -91.13
# Santa Rosa
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Santa Rosa.*", case=False),"Lat"] = 30.71
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Santa Rosa.*", case=False),"Long"] = -87.04
# Solano
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Solano.*", case=False),"Lat"] = 32.23
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Solano.*", case=False),"Long"] = -121.95
# San Mateo
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*San Mateo.*", case=False),"Lat"] = 37.45
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*San Mateo.*", case=False),"Long"] = -122.35
#Placer
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Placer.*", case=False),"Lat"] = 39.07
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Placer.*", case=False),"Long"] = -120.77
#Kent
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Kent$", case=False),"Lat"] = 43.03
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Kent$", case=False),"Long"] = -85.55
# Kentucky
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*kentucky.*", case=False),"Lat"] = 34.61
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*kentucky.*", case=False),"Long"] = -92.66
# Salem
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Salem.*", case=False),"Lat"] = 39.58
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Salem.*", case=False),"Long"] = -73.36
# LaSalle
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*LaSalle.*", case=False),"Lat"] = 41.33
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*LaSalle.*", case=False),"Long"] = -89.09
# Bee
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match("Bee", case=False),"Lat"] = 28.42
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match("Bee", case=False),"Long"] = -97.74
# Beauregard
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Beauregard.*", case=False),"Lat"] = 30.65
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Beauregard.*", case=False),"Long"] = -93.34
# Beaufort
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Beaufort.*", case=False),"Lat"] = 32.43
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Beaufort.*", case=False),"Long"] = -80.69
#Real
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match("Real", case=False),"Lat"] = 29.84
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match("Real", case=False),"Long"] = -99.81
# Pella
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match("Pella", case=False),"Lat"] = 41.41
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match("Pella", case=False),"Long"] = -92.92
# Carthage
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match("Carthage", case=False),"Lat"] = 32.16
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match("Carthage", case=False),"Long"] = -94.34
# Martin
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match("Martin", case=False),"Lat"] = 37.57
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match("Martin", case=False),"Long"] = -82.75



wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Martin.*", case=False),:]

     Unnamed: 0 Location         Dis No    Lat   Long
717        1115   Martin  2004-0245-USA  37.57 -82.75
783        1207   Martin  2004-0455-USA  37.57 -82.75

In [60]:
# wDisasterSE_df.loc[:,"Location"]=wDisasterSE_df.loc[:,"Location"].str.strip()
# wDisasterSE_df.loc[:,"Location"].value_counts()
# wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*crawford$", case=False),:]

In [67]:
wDisasterSE_df.loc[wDisasterSE_df["Lat"]<0,:]

Empty DataFrame
Columns: [Unnamed: 0, Location, Dis No, Lat, Long]
Index: []

In [65]:
wDisasterSE_df.to_csv("output_data/NEW_coordinates.csv")