In [1]:
import pandas as pd
import requests
import json
from pprint import pprint
from config import openWeatherKey

In [2]:
weatherDisasterSECSV = "output_data/coordLocations.csv"
wDisasterSE_df = pd.read_csv(weatherDisasterSECSV)
wDisasterSE_df
test_df = wDisasterSE_df.loc[wDisasterSE_df["Lat"]<0,:]
test_df["Location"].unique()
# test_df

array(['Kentucky', ' Crawford', ' Colorado', ' Kentucky', ' Armstrong',
       ' Broome', ' Lauderdale', 'St Clair', ' Robertson', ' Lucas',
       'Colorado', 'Nelson', ' Dixie', ' Angelina', ' Comal', ' Sabine',
       ' Iberia'], dtype=object)

In [3]:
wDisasterSE_df[wDisasterSE_df["Location"].str.match(".*colorado.*", case=False)]

      Unnamed: 0   Location         Dis No    Lat   Long
65           117   Colorado  2000-0465-USA -22.84 -51.97
164          282   Colorado  2001-0451-USA -22.84 -51.97
974         1540   Colorado  2007-0383-USA -22.84 -51.97
981         1549   Colorado  2007-0662-USA -22.84 -51.97
1038        1642   Colorado  2007-0621-USA -22.84 -51.97
1153        1806   Colorado  2008-0600-USA -22.84 -51.97
1243        1922   Colorado  2010-0690-USA -22.84 -51.97
1320        2023   Colorado  2011-0029-USA -22.84 -51.97
1388        2106   Colorado  2011-0527-USA -22.84 -51.97
1423        2143   Colorado  2011-0608-USA -22.84 -51.97
1483        2205   Colorado  2011-0609-USA -22.84 -51.97
1564        2293   Colorado  2012-9489-USA -22.84 -51.97
1575        2308   Colorado  2012-0613-USA -22.84 -51.97
1670        2438   Colorado  2013-0334-USA -22.84 -51.97
1681        2455   Colorado  2013-0142-USA -22.84 -51.97
1719        2494   Colorado  2013-0183-USA -22.84 -51.97
1762        2542   Colorado  2013-0118-USA -22.84 -51.97
1842        2624   Colorado  2013-0013-USA -22.84 -51.97
1848        2631   Colorado  2013-0184-USA -22.84 -51.97
1947        2734   Colorado  2013-0117-USA -22.84 -51.97
1994        2799   Colorado  2014-0126-USA -22.84 -51.97
2047        2853   Colorado  2014-0048-USA -22.84 -51.97
2097        2907   Colorado  2014-0100-USA -22.84 -51.97
2142        2960   Colorado  2014-0263-USA -22.84 -51.97
2243        3080   Colorado  2015-0211-USA -22.84 -51.97
2258        3100   Colorado  2015-0245-USA -22.84 -51.97
2346        3212   Colorado  2015-0212-USA -22.84 -51.97
2353        3224   Colorado  2015-0177-USA -22.84 -51.97
2457        3369   Colorado  2016-0150-USA -22.84 -51.97
2490        3412   Colorado  2016-0181-USA -22.84 -51.97
2544        3490   Colorado  2017-0039-USA -22.84 -51.97
2563        3519   Colorado  2017-0234-USA -22.84 -51.97
2614        3612   Colorado  2017-0362-USA -22.84 -51.97
2671        3686   Colorado  2017-0203-USA -22.84 -51.97
2734        3844   Colorado  2018-0419-USA -22.84 -51.97
2758        3884   Colorado  2018-0046-USA -22.84 -51.97
2814        3963   Colorado  2019-0007-USA -22.84 -51.97

In [4]:
wDisasterSE_df.loc[wDisasterSE_df["Location"] == "Kentucky",:]

   Unnamed: 0  Location         Dis No    Lat    Long
0           0  Kentucky  2000-0080-USA -30.77  151.45

In [11]:
# Kentucky
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*kentucky.*", case=False),"Lat"] = 34.61
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*kentucky.*", case=False),"Long"] = -92.66
# Colorado
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*colorado.*", case=False),"Lat"] = 39.00
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*colorado.*", case=False),"Long"] = -105.50
# Crawford
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*crawford", case=False),"Lat"] = 37.51
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*crawford", case=False),"Long"] = -94.85
#Armstrong
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*armstrong.*", case=False),"Lat"] = 46.76
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*armstrong.*", case=False),"Long"] = -117.23
#broome
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*broome.*", case=False),"Lat"] = 42.25
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*broome.*", case=False),"Long"] = -75.83
#lauderdale
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*lauderdale.*", case=False),"Lat"] = 34.9
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*lauderdale.*", case=False),"Long"] = -87.63
#St Clair
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*St Clair.*", case=False),"Lat"] = 43.12
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*St Clair.*", case=False),"Long"] = -82.65
#Robertson
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Robertson.*", case=False),"Lat"] = 36.52
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Robertson.*", case=False),"Long"] = -86.87
#Lucas
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Lucas.*", case=False),"Lat"] = 41.65
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Lucas.*", case=False),"Long"] = -83.67
#Nelson
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Nelson.*", case=False),"Lat"] = 37.81
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Nelson.*", case=False),"Long"] = -85.47
#Dixie
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Dixie.*", case=False),"Lat"] = 29.62
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Dixie.*", case=False),"Long"] = -83.17
#Angelina
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Angelina.*", case=False),"Lat"] = 31.25
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match("Angelina", case=False),"Long"] = -94.57
#Comal
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Comal.*", case=False),"Lat"] = 29.82
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Comal.*", case=False),"Long"] = -98.3
#Sabine
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Sabine.*", case=False),"Lat"] = 37.68
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Sabine.*", case=False),"Long"] = -81.50
#Iberia
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Iberia.*", case=False),"Lat"] = 29.95
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Iberia.*", case=False),"Long"] = -91.75



wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Armstrong.*", case=False),:]

     Unnamed: 0   Location         Dis No    Lat    Long
210         365  Armstrong  2002-0310-USA  46.76 -117.23

In [12]:
wDisasterSE_df.loc[wDisasterSE_df["Lat"]<0,:]

Empty DataFrame
Columns: [Unnamed: 0, Location, Dis No, Lat, Long]
Index: []

In [13]:
minusLong_df = wDisasterSE_df.loc[wDisasterSE_df["Long"]>0,:]
minusLong_df["Location"].unique()

array(['Lake', 'Montana', 'Montgomery', 'Athens', 'Abbeville', 'Owen',
       'Jones', 'Martin', 'Santa Rosa', 'Solano', 'San Mateo', 'Placer',
       'Kent', 'Carthage', 'Salem', 'LaSalle', 'Bee', 'Beauregard',
       'Beaufort', 'Real', 'Pella'], dtype=object)

In [45]:
wDisasterSE_df.loc[wDisasterSE_df["Location"] == "Carthage",:]

      Unnamed: 0  Location         Dis No    Lat   Long
2568        3529  Carthage  2017-0234-USA  36.86  10.33

In [44]:
#Montana
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Montana.*", case=False),"Lat"] = 47.00
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Montana.*", case=False),"Long"] = -109.75
# Montgomery
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Montgomery.*", case=False),"Lat"] = 39.15
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Montgomery.*", case=False),"Long"] = -177.2
# Athens
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Athens.*", case=False),"Lat"] = 33.96
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Athens.*", case=False),"Long"] = -83.38
# Abbeville
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Abbeville.*", case=False),"Lat"] = 29.97
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Abbeville.*", case=False),"Long"] = -92.13
# Owen
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match("Owen", case=False),"Lat"] = 44.95
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match("Owen", case=False),"Long"] = -90.56
# Jones
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match("Jones", case=False),"Lat"] = 42.12
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match("Jones", case=False),"Long"] = -91.13
# Santa Rosa
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Santa Rosa.*", case=False),"Lat"] = 30.71
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Santa Rosa.*", case=False),"Long"] = -87.04
# Solano
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Solano.*", case=False),"Lat"] = 32.23
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Solano.*", case=False),"Long"] = -121.95
# San Mateo
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*San Mateo.*", case=False),"Lat"] = 37.45
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*San Mateo.*", case=False),"Long"] = -122.35
#Placer
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Placer.*", case=False),"Lat"] = 39.07
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Placer.*", case=False),"Long"] = -120.77
#Kent
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Kent$", case=False),"Lat"] = 43.03
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Kent$", case=False),"Long"] = -85.55
# Kentucky
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*kentucky.*", case=False),"Lat"] = 34.61
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*kentucky.*", case=False),"Long"] = -92.66
# Carthage
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Carthage.*", case=False),"Lat"] = 34.61
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Carthage.*", case=False),"Long"] = -92.66


wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*Carthage.*", case=False),:]

      Unnamed: 0  Location         Dis No    Lat   Long
0              0  Kentucky  2000-0080-USA  34.61 -92.66
169          288  Kentucky  2001-0722-USA  34.61 -92.66
254          437  Kentucky  2002-0751-USA  34.61 -92.66
267          452  Kentucky  2002-0183-USA  34.61 -92.66
293          497  Kentucky  2002-0502-USA  34.61 -92.66
384          611  Kentucky  2003-0085-USA  34.61 -92.66
405          633  Kentucky  2003-0595-USA  34.61 -92.66
879         1395  Kentucky  2005-0687-USA  34.61 -92.66
898         1421  Kentucky  2006-0161-USA  34.61 -92.66
904         1429  Kentucky  2006-0171-USA  34.61 -92.66
917         1452  Kentucky  2006-0743-USA  34.61 -92.66
1081        1705  Kentucky  2008-0039-USA  34.61 -92.66
1106        1741  Kentucky  2008-0131-USA  34.61 -92.66
1130        1770  Kentucky  2008-0384-USA  34.61 -92.66
1135        1776  Kentucky  2008-0599-USA  34.61 -92.66
1181        1840  Kentucky  2009-0140-USA  34.61 -92.66
1190        1853  Kentucky  2009-0056-USA  34.61 -92.66
1212        1881  Kentucky  2009-0287-USA  34.61 -92.66
1218        1888      Kent  2009-0477-USA  43.03 -85.55
1265        1948  Kentucky  2010-0187-USA  34.61 -92.66
1327        2030  Kentucky  2011-0029-USA  34.61 -92.66
1340        2044  Kentucky  2011-0145-USA  34.61 -92.66
1362        2071  Kentucky  2011-0166-USA  34.61 -92.66
1406        2125  Kentucky  2011-0607-USA  34.61 -92.66
1474        2196  Kentucky  2011-0609-USA  34.61 -92.66
1532        2259  Kentucky  2012-0060-USA  34.61 -92.66
1619        2363  Kentucky  2012-0503-USA  34.61 -92.66
1624        2369  Kentucky  2012-0601-USA  34.61 -92.66
1708        2482  Kentucky  2013-0142-USA  34.61 -92.66
1734        2509  Kentucky  2013-0183-USA  34.61 -92.66
1744        2520  Kentucky  2013-0439-USA  34.61 -92.66
1808        2589  Kentucky  2013-0211-USA  34.61 -92.66
1821        2603  Kentucky  2013-0013-USA  34.61 -92.66
1900        2684  Kentucky  2013-0055-USA  34.61 -92.66
1914        2699  Kentucky  2013-0550-USA  34.61 -92.66
1974        2761  Kentucky  2013-0117-USA  34.61 -92.66
2010        2815  Kentucky  2014-0126-USA  34.61 -92.66
2139        2952  Kentucky  2014-0009-USA  34.61 -92.66
2173        2992  Kentucky  2014-0444-USA  34.61 -92.66
2250        3090  Kentucky  2015-0155-USA  34.61 -92.66
2263        3110  Kentucky  2015-0138-USA  34.61 -92.66
2279        3127  Kentucky  2015-0326-USA  34.61 -92.66
2302        3162  Kentucky  2015-0565-USA  34.61 -92.66
2330        3194  Kentucky  2015-0558-USA  34.61 -92.66
2364        3237  Kentucky  2015-0073-USA  34.61 -92.66
2376        3250  Kentucky  2015-0122-USA  34.61 -92.66
2464        3376  Kentucky  2016-0150-USA  34.61 -92.66
2498        3421  Kentucky  2016-0085-USA  34.61 -92.66
2505        3431  Kentucky  2016-0010-USA  34.61 -92.66
2537        3480  Kentucky  2016-0550-USA  34.61 -92.66
2577        3544  Kentucky  2017-0234-USA  34.61 -92.66
2597        3585  Kentucky  2017-0564-USA  34.61 -92.66
2661        3675  Kentucky  2017-0070-USA  34.61 -92.66
2764        3891  Kentucky  2018-0331-USA  34.61 -92.66
2855        4013  Kentucky  2020-0011-USA  34.61 -92.66
2856        4016  Kentucky  2020-0082-USA  34.61 -92.66

In [9]:
wDisasterSE_df.loc[:,"Location"]=wDisasterSE_df.loc[:,"Location"].str.strip()
wDisasterSE_df.loc[:,"Location"].value_counts()
wDisasterSE_df.loc[wDisasterSE_df["Location"].str.match(".*crawford$", case=False),:]

      Unnamed: 0  Location         Dis No    Lat   Long
24            41  Crawford  2000-0338-USA  37.51 -94.85
526          805  Crawford  2003-0210-USA  37.51 -94.85
636          985  Crawford  2004-0249-USA  37.51 -94.85
641          991  Crawford  2004-0249-USA  37.51 -94.85
943         1487  Crawford  2006-0344-USA  37.51 -94.85
2420        3318  Crawford  2016-0331-USA  37.51 -94.85

In [10]:
wDisaster_df["Location"].value_counts()

NameError: name 'wDisaster_df' is not defined